{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" value="Confirm" />
    </form>
{% endblock content %}
