{% extends "base.html" %}

{% block header %}
{% if messages %}
    {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
    <h3>Suppliers Detail</h3>
{% endblock header %}

{% block content %}
<a href="{% url 'suppliers:list' %}">Back to the list</a>
<p>{{ object.name }}</p>
<a href="{{ edit_url }}">Edit Supplier name</a>
<br>
<br>
{% for address in addresses %}
<p>{{ address }}</p>
<a href="{{ address.get_delete_url }}">Delete Address</a>
<br>
{% endfor %}
<div>
    <a href="{{ add_address_url }}">Add address</a>
    <a href="{{ supplier_delete_url }}">Delete Supplier</a>
</div>
{% endblock content %}
