{% extends "base.html" %}

{% block header %}
<h3>{{ title }}</h3>
{% endblock header %}

{% block content %}
<form action='' method='post'>
		{% csrf_token %}
{% if formset %}
	{% for form in formset.itervalues %}
	{{ form.as_p }}
	{% endfor %}
{% else %}
    {{ form.as_p }}
{% endif %}
	<input type='submit'/>
</form>
{% endblock content %}
