{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
<h3>Suppliers List</h3> <a href="{{ create_supplier_url }}">Create Supplier</a>
<div>
    <input type='text' id='filter' placeholder='Filter by name'/>
</div>
{% endblock header %}
{% block content %}
<div id='supplier_list'>
    {% include 'suppliers/ajax_list.html' %}
</div>
{% endblock content %}
{% block for_js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script type='text/javascript'>
        $('document').ready(function(){
            $('#filter').keyup(function(){
                var query;
                query = $(this).val()
                $.get('.', {q: query}, function(data) {
                    $('#supplier_list').html(data);
                });
            });
        });

    </script>
{% endblock for_js %}
