<!DOCTYPE html>
<html lang='en' class='no-js'>
	<head>
		{% block head %}

		{% block for_css %}
		{% endblock for_css %}

		{% endblock head %}
	</head>
	<body>
		{% block header %}
		{% endblock header %}

		{% block content %}
		{% endblock content %}
	</body>

	{% block for_js %}
	{% endblock for_js %}
</html>
